* {
	box-sizing: border-box;
}

body {
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 20px 20px 20px 32px;
}

.menu-button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20px;
	height: 17px;
	margin-right: 28px;
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: #fff;
}

.menu-line {
	display: block;
	width: 20px;
	height: 3px;
	border-radius: 20px;
	background: #1F2022;
	box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.5);
}

.logo {
	margin-right: 59px;
}

.input-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	max-width: 830px;
	padding-right: 17px;
	border-radius: 22px;
	background: #EBEBEB;
}

.input-search {
	width: 100%;
	padding: 12px 23px;
	border: none;
	background-color: transparent;
}

.button-search {
	width: 19px;
	height: 19px;
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.icon-search {
	fill: black;
}

.icons {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.icons-link {
	text-decoration: none;
	opacity: 0.24;
}

.icons-link:hover {
	opacity: 0.7;
}

.icons-link:not(:last-child) {
	margin-right: 50px;
}

.user {
	margin-left: 45px;
}

.user-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.nav-menu {
	margin-top: 0;
	margin-bottom: 60px;
	padding-left: 0;
	list-style-type: none;
}

.sidebar {
	margin-left: 32px;
}

.nav-item {
	margin-bottom: 28px;
}

.nav-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #898989;
}

.nav-link:hover {
	color: red;
}

.nav-link:hover .icon {
	fill: red;
}

.nav-item .icon {
	fill: #898989;
}

.nav-text {
	margin-left: 13px;
}

.nav-img {
	width: 26px;
	height: 26px;
	border-radius: 50%;
}

.nav-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 23px;
	margin-bottom: 30px;
}